* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #eff6fd 0%, #f1f5f9 100%);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar Styles */
.my-navbar {
  background: linear-gradient(to right, #1e3a8a, #1e40af, #2563eb);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  height: 62px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.22);
  margin-bottom: 4px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 2px solid white;
}

/* Brand/Logo */
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 0.58rem;
  color: white;
  font-size: 1.55rem;
  font-weight: 700;
}

.navbar-brand span {
  color: white;
  font-size: 1.4rem;
}

.navbar-brand svg {
  font-size: 1.55rem;
  color: white;
}

/* Navigation Links */
.navbar-links {
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
}

.navbar-links a {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.navbar-links a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-links a.active {
  /*background-color: rgba(255, 255, 255, 0.261);*/
  background-color: #f1f5f9;
  color: #1e40af;
  
}

.navbar-links a svg {
  font-size: 1.2rem;
}


/* Main Content */
.main-content {
  flex: 1;
  overflow-y: auto;
  margin-top: 66px; /* navbar height (62px) + margin-bottom (4px) */
}
